@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,600&family=Fondamento:ital@0;1&family=Irish+Grover&display=swap');

body {
    background-image: url("../images/background-body.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #2d2c2c;
}

.homepage-body {
    width: 95%;
    height: 900px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Fondamento" , sans-serif;
    text-align: center;
    color: #a62d37;
    background-color: rgba(255,255,255,0.1);
    padding-top: 100px;
    padding-bottom: 100px;
}

.top-title {
    font-size: 40px;
    color: #02630a;
    outline-color: #bfba69;
    text-shadow: 2px 1px 1px #bfba69;
	-webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #bfba69;
    clear: both;
    
}

.bottom-title {
    font-family: "Irish Grover" , sans-serif;
    font-size: 60px;
    outline-color: #bfba69;
    text-shadow: 2px 1px 1px #bfba69;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #bfba69;
  
}

.btn-play {
    font-size: 1.8rem;
    font-family: "Fondamento";
    padding: 30px;
    text-align: center;
    border: 1px solid #bfba69;
    color: #02630a;
    background-color: #bfba69;
    border-radius: 50%;
    text-decoration: none;
    text-shadow: 2px 1px 1px #02630a;
    
}

.levels-body {
    width: 95%;
    height: 900px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Fondamento" , sans-serif;
    text-align: center;
    color: #a62d37;
    background-color: rgba(255,255,255,1);
    padding-top: 100px;
    padding-bottom: 100px;
}